{% extends "common/base.html" %}

{% load static %}
{% load humanize %}


{% block head-extra %}
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
{% endblock %}
{% block head-extra-2 %}
	{% with static_version=100 %}
		<script src="{% static 'js/plot.js' %}?v={{static_version}}"></script>
		<script src="{% static 'js/map.js' %}?v={{static_version}}"></script>
	{% endwith %}
{% endblock %}


{% block title %}Device {{object.device.name}}, Run {{object.name}} {% endblock %}


{% load common_tags %}


{% block content %}


<h1>Run {{object.name}}</h1>


<h2>Details</h2>
	<table class="table table-condensed table-no-border width-auto table-td-vertical-align-middle">
		<tr>
			<td><label>Device:</label></td>
			<td><span class="monospace">{{object.device.name}}</span></td>
		</tr>
		<tr>
			<td><label>Columns:</label></td>
			<td>{{object.device.columns|join:", "}}</td>
		</tr>
		<tr>
			<td><label>Date from:</label></td>
			<td>{{object.date_from}}</td>
		</tr>
		<tr>
			<td><label>Date to:</label></td>
			<td>
				<table><tr>
					<td>{{object.date_to|default_if_none:"current"}}</td>
					{% if not object.date_to %}
						<td>
							<form method="post" id="form-delete-data" action="{% url 'runs:finalise' r_id=run.pk %}">
								{% csrf_token %}

								<a href ="#" type="button" class="btn-finalise-run" data-toggle="modal" data-target="#finalise-run-modal">Finalise run</a>

								<div id="finalise-run-modal" class="modal fade" role="dialog" tabindex="-1">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal">&times;</button>
												<h4 class="modal-title">Finalise run</h4>
											</div>
											<div class="modal-body">
												Are you sure you want to finalise this run?
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-default" data-dismiss="modal">
													Cancel
												</button>
												<input type="submit" value="Finalise run" class="btn btn-primary"/>
											</div>
										</div>
									</div>
								</div>
							</form>
						</td>
					{% endif %}
				</tr></table>
			</td>
		</tr>
		<tr>
			<td><label>Num meas.:</label></td>
			<td>{{object.num_measurements|intcomma}}</td>
		</tr>
	</table>


<h2>Download data</h2>
	<div class="div-show-hide-panel-link">
		<button type="button" class="btn btn-link btn-show-hide-panel" data-show-msg="Show download panel" data-hide-msg="Hide download panel">Show download panel</button>
	</div>
	<div class="div-show-hide-panel display-none">
		{% include "runs/run_download_data.html" with run=object csrf_token=csrf_token only %}
	</div>


<h2>Delete data</h2>
	<div class="div-show-hide-panel-link">
		<button type="button" class="btn btn-link btn-show-hide-panel" data-show-msg="Show data panel" data-hide-msg="Hide data panel">Show delete panel</button>
	</div>
	<div class="div-show-hide-panel display-none">
		{% include "runs/run_delete_run_detach_data.html" with run=object csrf_token=csrf_token only %}
		{% include "runs/run_delete_run_and_data.html" with run=object csrf_token=csrf_token only %}
	</div>


<h2>Data</h2>
	<div class="div-show-hide-panel-link">
		<button type="button" class="btn btn-link btn-show-hide-panel" data-show-msg="Show data panel" data-hide-msg="Hide data panel">Show data panel</button>
	</div>
	<div class="div-show-hide-panel display-none">
		<div class="div-ajax">
			{% include "runs/run_measurements.html" with run=object measurements_page=measurements_page measurements_l=measurements_l measurements_extra=measurements_extra only %}
		</div>
	</div>


{% if not object.device.has_map %}
	<h2>Plot</h2>
		<canvas id="measurements_plot"></canvas>
		<input type="hidden" id="get-initial-plot-data-url" value="{% url 'runs:get-initial-plot-data' r_id=object.pk %}"/>

{% else %}
	<h2>Map</h2>
		<div id="map"></div>
		{{locations_l|json_script:"id-locations-l"}}
		<script async src="https://maps.googleapis.com/maps/api/js?key={{MAPS_API_KEY}}&callback=initMap" defer></script>
{% endif %}


<div class="margin-bottom-200px"></div>

{% endblock %}

