/* Navbar */
.navbar-register {
	color: #9d9d9d;
	border: 1px solid #9d9d9d;
}

.navbar-register:hover {
	color: #222;
	background: #9d9d9d;
}

.navbar-primary {
	color: #609dd2;
	font-weight: bold;
	background-color: transparent;
	border: 1.3px solid #609dd2;
}

.navbar-primary:hover {
	color: #609dd2;
	background: #224f77;
}

.p-navbar-primary-btn  {
	padding: 0px 0px 0px 15px;
	margin-top: 7.5px;
	margin-bottom: 7.5px;
}

.navbar-inverse .navbar-brand {
	color: #e6e6e6;
}

.navbar-brand > img {
	height: 100%;
	width: auto;
}


/* Table */
table.table-no-border > tbody > tr > td, table.table-no-border > tbody > tr > th {
	border: none !important;
}

table.table-center {
	margin-left: auto;
	margin-right: auto;
}

table.table-td-vertical-align-middle > tbody > tr > td, table.table-td-vertical-align-middle > tbody > tr > th {
	vertical-align: middle !important;
}

td.td-ul-no-margin-bottom ul {
	margin-bottom: 0px;
}

.table-padding-3 > tbody > tr > td {
  padding-top: 3px;
  padding-bottom: 3px;
}

.table-delete-confirm {
	margin-top: 5px;
}

.table-delete-confirm > tbody > tr > td {
	padding-left: 0px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.table-inactive {
	background-color: #ececec;
}


/* Buttons */
.btn-show-hide-data-delete-panel {
	padding-left: 0px;
	padding-right: 0px;
}

.btn-delete-all-data {
	margin-left: 20px;
	margin-top: 20px;
}


/* Other */
.display-none {
	display: none;
}

#form-date {
	margin-top: 20px;
}

#form-ylimits {
	margin-top: 15px;
}

.btn-ylimits-reset {
	margin-left: 20px;
}

label {
	margin-bottom: 0px;
}

.btn-padding-tb-sm {
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 9px;
	padding-right: 9px;
}

.monospace {
	font-family: monospace;
}

.width-auto {
	width: auto;
}

.width-1px {
	width: 1px;
}

.width-input-date {
	width: 150px;
}

.width-input-date-long {
	width: 180px;
}

.width-input-ylimits {
	width: 80px;
}

.width-long {
	width: 250px;
}

.no-margin-bottom {
	margin-bottom: 0px;
}

.margin-bottom-5px {
	margin-bottom: 5px;
}

.margin-bottom-10px {
	margin-bottom: 10px;
}

.margin-bottom-200px {
	margin-bottom: 200px;
}

.padding-r-5 {
	padding-right: 5px;
}

.padding-r-15 {
	padding-right: 15px;
}

.padding-l-st {
	padding-left: 10px !important;
}

.padding-b-2 {
	padding-bottom: 3px;
}

.horizontal-align-center {
	text-align: center;
}

.horizontal-align-right {
	text-align: right;
}

.glyphicon-margin {
	margin-top: 3px !important;
}

.input-font-size-14 {
	font-size: 14px !important;
}

