{% extends "common/base.html" %}

{% load static %}
{% load humanize %}


{% block title %}Device {{object.name}}{% endblock %}


{% load common_tags %}


{% block content %}


<h1>Device {{object.name}}</h1>


<h2>Basic information</h2>
	<table class="table table-condensed table-no-border width-auto table-td-vertical-align-middle">
		<tr>
			<td><label>Token:</label></td>
			<td><span class="monospace">{{object.token}}</span></td>
		</tr>
		<tr>
			<td><label>Columns:</label></td>
			<td>{{object.columns|join:", "}}</td>
		</tr>
	</table>


<h2>Runs</h2>
	<table class="table table-bordered table-condensed no-margin-bottom table-td-vertical-align-middle">
		<tr><th>Name</th><th>Time range</th><th>Num meas.</th><th class="width-1px">Action</th></tr>
		{% for r in runs %}
			<tr>
				<td>{{r.name}}</td>
				<td>{{r.get_time_range_display|safe}}</td>
				<td>{{r.num_measurements|default:""}}</td>
				<td><a class="btn btn-primary btn-padding-tb-sm" href="???">View</a></td>
			</tr>
		{% empty %}
			<tr><td colspan="100">No runs..</td></tr>
		{% endfor %}
	</table>


<h2>Create new run</h2>
	{% include 'devices/add_run.html' with device=object form=run_add_form csrf_token=csrf_token only %}


<h2>Unassigned measurements (total: {{object.num_unassigned_measurements|intcomma}})</h2>
	<div class="div-ajax">
		{% include "devices/device_unassigned_measurements.html" with device=object measurements_page=measurements_page measurements_extra=measurements_extra only %}
	</div>


<div class="margin-bottom-200px"></div>

{% endblock %}

