{% extends "common/base.html" %}

{% load static %}


{% block head-extra %}
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
{% endblock %}
{% block head-extra-2 %}
	<script src="{% static 'js/plot.js' %}"></script>
{% endblock %}


{% block title %}Device {{object.name}}{% endblock %}


{% load common_tags %}


{% block content %}

<input type="hidden" id="get-initial-plot-data-url" value="{% url 'devices:get-initial-plot-data' d_sid=object.sequence_id %}"/>
<input type="hidden" id="get-newest-plot-data-url" value="{% url 'devices:get-newest-plot-data' d_sid=object.sequence_id %}"/>


<h1>Device {{object.name}} &nbsp;&nbsp;&nbsp; (token: <span class="monospace">{{object.token}}</span>)</h1>


<h2>Download data</h2>
	<div id="div-download" class="div-download">
		{% include "devices/device_download.html" with device=object form=download_form csrf_token=csrf_token only %}
	</div>


<h2>Delete data</h2>
	<div class="delete-link">
		<button type="button" class="btn btn-link btn-show-hide-data-delete-panel">Show delete panel</button>
	</div>
	<div class="div-delete display-none">
		{% include "devices/device_delete_data.html" with device=object form=delete_data_form csrf_token=csrf_token only %}
		{% include "devices/device_delete_data_all.html" with device=object csrf_token=csrf_token only %}
	</div>


<h2>Data</h2>
	<div class="div-ajax">
		{% include "devices/device_measurements.html" with object=object measurements_page=measurements_page measurements_extra=measurements_extra only %}
	</div>

	<div class="div-plot">
		{% include "devices/device_plot.html" with device=object plot_date_form=plot_date_form csrf_token=csrf_token only %}
	</div>


<div class="margin-bottom-200px"></div>

{% endblock %}

