
<form id="form-ylimits">
	<table class="table table-condensed table-no-border width-auto table-td-vertical-align-middle no-margin-bottom">
		<tr>
			<td><label>YLimits:</label></td>
			<td>
				<table>
					<tr>
						<td class="padding-b-2"><label>Min:</label></td>
						<td class="padding-l-st padding-b-2"><input type="text" class="form-control input-sm input-font-size-14 width-input-ylimits" autocomplete="off" maxlength="10" id="id_ylimits_min"></td>
					</tr>
					<tr>
						<td><label>Max:</label></td>
						<td class="padding-l-st"><input type="text" class="form-control input-sm input-font-size-14 width-input-ylimits" autocomplete="off" maxlength="10" id="id_ylimits_max"></td>
					</tr>
				</table>
			</td>
			<td>
				<input type="submit" value="Set" class="btn btn-primary"/>
			</td>
			<td>
				<button type="button" class="btn-ylimits-reset btn btn-warning">Reset</button>
			</td>
		</tr>
	</table>
</form>

